@page
@model Veteries.Pages.Admin.Patients.UpsertModel

<form method="post" asp-action="Upsert">
    <div class="row px-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if(Model.PatientObj.Id != 0)
        {
            <input type="hidden" asp-for="PatientObj.Id" />
        }
        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
            <h2 class="text-primary">@(Model.PatientObj.Id != 0 ? "Update" : "Add") Patient</h2>
        </div>

        <div class="col-8 pt-3">

            <div class="form-group row">

                <div class="col-3">
                    <label asp-for="PatientObj.Name"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="PatientObj.Name" />
                    <span class="text-danger" asp-validation-for="PatientObj.Name"></span>
                </div>

                <div class="col-3">
                    <label asp-for="PatientObj.Age"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="PatientObj.Age" />
                    <span class="text-danger" asp-validation-for="PatientObj.Age"></span>
                </div>

                <div class="col-3">
                    <label asp-for="PatientObj.Species"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="PatientObj.Species.Name" />
                    <span class="text-danger" asp-validation-for="PatientObj.Species.Name"></span>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-9 offset-3">
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary form-control">
                                @(Model.PatientObj.Id != 0 ? "Update" : "Add")
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-page="./Index" class="btn btn-success form-control">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

