@page
@model IndexModel

<div class="">
    <form method="post" asp-action="">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" id="container">
            <div class="card">
                <div class="card-header bg-light text-light ml-0 row container py-3">
                    @Html.DropDownListFor(m => m.DropdownListModel.CityID,
                                         Model.DropdownListModel.CityList,
                                         "Select city..",
                                         new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="DropdownListModel.CityID"></span>
                    <br />
                    @Html.DropDownListFor(m => m.DropdownListModel.SpeciesID,
                                         Model.DropdownListModel.SpeciesList,
                                         "or select species of your pet",
                                         new { @class = "form-control" })
                    <span class="text-danger" asp-validation-for="DropdownListModel.SpeciesID"></span>


                </div>
            </div>      
        </div>
    </form>
</div>

