@page
@model Veteries.Pages.Admin.Vets.UpsertModel

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.VeterinarianObj.Id != 0)
        {
            <input type="hidden" asp-for="VeterinarianObj.Id" />
            <input type="hidden" asp-for="AddressObj.Id" />
        }

        <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
            <h2 class="text-primary">@(Model.VeterinarianObj.Id != 0 ? "Update" : "Add") a vet</h2>
        </div>

        <div class="col-8 pt-3">

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="VeterinarianObj.OfficeName"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="VeterinarianObj.OfficeName" />
                    <span class="text-danger" asp-validation-for="VeterinarianObj.OfficeName"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="VeterinarianObj.FirstName"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="VeterinarianObj.FirstName" />
                    <span class="text-danger" asp-validation-for="VeterinarianObj.FirstName"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="VeterinarianObj.LastName"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="VeterinarianObj.LastName" />
                    <span class="text-danger" asp-validation-for="VeterinarianObj.LastName"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="VeterinarianObj.PhoneNumber"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="VeterinarianObj.PhoneNumber" />
                    <span class="text-danger" asp-validation-for="VeterinarianObj.PhoneNumber"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="VeterinarianObj.EmailAddress"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="VeterinarianObj.EmailAddress" />
                    <span class="text-danger" asp-validation-for="VeterinarianObj.EmailAddress"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="VeterinarianObj.PaymentRange"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="VeterinarianObj.PaymentRange" />
                    <span class="text-danger" asp-validation-for="VeterinarianObj.PaymentRange"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="AddressObj.Street"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="AddressObj.Street" />
                    <span class="text-danger" asp-validation-for="AddressObj.Street"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="AddressObj.CityID"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="AddressObj.CityID" />
                    <span class="text-danger" asp-validation-for="AddressObj.City.Name"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="AddressObj.ZipCode"></label>
                </div>
                <div class="col-9">
                    <input class="form-control" asp-for="AddressObj.ZipCode" />
                    <span class="text-danger" asp-validation-for="AddressObj.ZipCode"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-9 offset-3">
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success form-control">
                                @(Model.VeterinarianObj.Id != 0 ? "Update" : "Add")
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-page="./Index" class="btn btn-secondary form-control">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>